.wrapper {
    background-color: #ffffff;
    font-size: 13px;
}

/* Header css start */

.header-container {
    height: 156px;
    width: 100%;
}

.header-container .higher-header {
    height: 40px;
    width: 100%;
    background-color: #E8E8E8;
}

.higher-header ol { display: inline; }
.higher-header ol li { display: inline; margin-left: 7px; }
.higher-header ol li .red { color: red; }

.header-container .middle-header {
    height: 80px;
    width: 100%;
}

.middle-header .header-logo {
    height: 60px; margin-top: 10px;
}

.header-container .lower-header {
    height: 36px;
    width: 100%;
    background-color: darkorchid;
}

/* Header css finish */

