.wrapper {
    background-color: #ffffff;
    font-size: 13px;
}

/* Header css start */

.header-container {
    height: 156px;
    width: 100%;
}

.header-container .higher-header {
    height: 40px;
    width: 100%;
    background-color: #E8E8E8;
}

.higher-header ol { display: inline; }
.higher-header ol li { display: inline; margin-left: 7px; }
.higher-header ol li .red { color: red; }

.header-container .middle-header {
    height: 80px;
    width: 100%;
}

.middle-header .header-logo {
    height: 60px; margin-top: 10px;
}

.header-container .lower-header {
    height: 36px;
    width: 100%;
    background-color: darkorchid;
}

/* Header css finish */

/* Big ads block css start */

.big_ad_block {
    height: 360px;
}

.big_ad_block .big_ads_cube_img {
    margin: 0px;
}

.big_ad_block .small_ads_cube {
    height: 180px;
    margin: 5px;
}

.big_ad_block .ads_cube_img {
    max-height: 180px;
}

/* Big ads block css finish */

/* common css start */

.small_border { border: 1px solid #E8E8E8; }
.w100-p { width: 100%; }
.w23 { width: 23px; }
.inliner { display: inline; }

.ml-15 { margin-left: 15px; }

.center-block { 
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    background:green;
    margin-top: 5px;
}

.fr { float: right; }
.fl { float: left; }

/* common css finish */